<!DOCTYPE html>
<html lang="en" ng-app="appBooks">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>BooksSorter - Service Sorting</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
    <link href="css/books.css" type="text/css" rel="stylesheet">
</head>
<body ng-controller="BooksCtrl" class="blue-grey lighten-5">
    <header>
        <nav class="blue darken-1">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">BooksSorter</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="javascript:void(0)" ng-click="openModalAddBook()">
                            <i class="material-icons left">add</i>Add New Book
                        </a>
                    </li>
                </ul>
                <ul class="right hide-on-large-only">
                    <li>
                        <a href="javascript:void(0)" ng-click="openModalAddBook()">
                            <i class="material-icons">add</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="card card-filters">
                <div class="card-content padding1">
                    <div class="row">
                        <form name="formSort" ng-submit="sortBook(sort)">
                            <div class="col s12">
                                <div class="col s12 m6 l5">
                                    <label class="font-13">Sort</label>

                                    <select name="comboBoxSort" id="comboBoxSort"
                                        ng-options="option.name for option in sort.attributes track by option.id"
                                        ng-model="sort.attributesSelected" class="browser-default" >
                                    </select>
                                </div>
                                <div class="col s12 m6 l5">
                                    <label class="font-13">Type</label>
                                    <select name="comboBoxType" id="comboBoxType"
                                        ng-options="option.name for option in sort.types track by option.id"
                                        ng-model="sort.typesSelected" class="browser-default" >
                                    </select>
                                </div>
                                <div class="col s12 m12 l2">
                                    <div class="input-field">
                                        <button type="submit" class="btn-large btn-block waves-effect waves-light blue">Sort</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> 
                </div> 
            </div> 
        </div>
    </header>
    
    <main>    
        <div class="container">
            <div class="row">
                <div class="col s12 ">
                    <div class="card" ng-if="listBooks.length>0">
                        <ul class="collection collection-books">
                            <li class="collection-item avatar" ng-repeat="book in listBooks">
                                <i class="material-icons circle green">library_books</i>
                                <span class="title waves-effect" ng-bind="book.title"></span>
                                <p>
                                    <i>Author: <span ng-bind="book.author"></span></i>
                                    <br>
                                    <i>Edition Year: <span ng-bind="book.edition_year"></span></i>
                                </p>
                                <a href="javascript:void(0)" ng-click="openModalConfirmDeleteBook(book)" class="secondary-content">
                                    <i class="material-icons">close</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-panel" ng-if="listBooks.length==0">
                        Empty BookSort, <a href="javascript:void(0)" ng-click="openModalAddBook()">Add New Book</a>
                    </div>
                </div>
            </div>   
        </div>
    </main>

    <footer class="page-footer blue darken-1">
        <div class="footer-copyright blue darken-2">
            <div class="container">
                Made by <a class="white-text" target="_blank" href="http://mateusgamba@github.com">mateusgamba</a>
            </div>
        </div>
    </footer>

    <!-- Modal Add New Book-->
    <div id="modalAddBook" class="modal modal-fixed-footer">
        <form name="formulario" id="idFormBook" ng-submit="saveBook(book)" novalidate>
            <div class="modal-content">
                <div class="row">
                    <div class="col s12">
                        <h4>Add New Book</h4>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="title" type="text" placeholder="Title Book" ng-class="formulario.$submitted && formulario.title.$error.required?'invalid':''" ng-model="book.title" required>
                                <label for="title" data-error="Title Required">Title</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="author" type="text" placeholder="Author Book" ng-model="book.author" ng-class="formulario.$submitted && formulario.author.$error.required?'invalid':''" required>
                                <label for="author" data-error="Author Required">Author</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="edition_year" type="number" placeholder="Edition Year Book" ng-model="book.edition_year" ng-class="formulario.$submitted && formulario.edition_year.$error.required?'invalid':''" required>
                                <label for="edition_year" data-error="Edition Year Required">Edition Year</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn modal-action modal-close waves-effect waves-light grey margin-left-15">Cancel</button>
                <button type="submit" class="btn waves-effect waves-light blue">Save</button>
            </div>
        </form>
    </div>

    <!-- Confirmar exclusao -->
    <div id="modalConfirmDeleteBook" class="modal">
        <div class="modal-content">
            <h5>Are you sure you want to delete?</h5>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="modal-action modal-close btn waves-effect waves-light grey margin-left-15">Cancel</a>
            <a href="javascript:void(0)" class="btn waves-effect waves-light blue" ng-click="confirmDeleteBook()">Confirm</a>
        </div>
    </div>
    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/materialize.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/appBooks.js"></script>
    <script src="js/controllers/BooksCtrl.js"></script>
</body>
</html>
